<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/styles/style.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
		/>
		<title>Simple Blog App</title>
	</head>
	<body>
		<div class="container">
			<header>
				<h1><a href="/">Simple Blog App</a></h1>
				<nav>
					<li class="menu-button">
						<a href="/create-post" class="button">
							<i class="far fa-pen-to-square"></i> Create Post
						</a>
					</li>

					<li class="menu-button">
						<a href="/profile" class="button">
							<i class="fa-regular fa-user"></i> Profile
						</a>
					</li>
				</nav>
			</header>
			<hr />
