<%- include("partials/header.ejs") %>

<div class="wrapper">
	<form action="/register" method="post" class="post-form">
		<label for="username">Username</label>
		<input type="text" name="username" />
		<label for="email">Email</label>
		<input type="email" name="email" />
		<label for="password">Password</label>
		<input type="password" name="password" />
		<input type="submit" value="Register" class="button extra" />
		<p class="cnt form-text">
			Already have account? <a href="/login" class="white">Login</a>
		</p>
	</form>
</div>

<%- include("partials/footer.ejs") %>
